<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <div class="jumbotron">
      <a href="/"><img src="../images/home.png" alt="Message image" class="img"></a>
      <h1>MentorApp</h1>
      <p>Find a Mentor &middot; Find a Mentee </p>
    </div>

   <div class="container">

<!-- LOGIN SCREEN BEGINS -->
    <form action="/action_page.php">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

<!--     <a href="/"><button type="submit">Login</button></a> -->
    <a href="/" class="btn btn-default center-block">Login</a>
    <hr>
    <input type="checkbox" checked="checked"> Remember me
 
  </div>

  <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot password?</a></span>

  </div>
</form>
<!-- LOGIN SCREEN ENDS -->

  </div>

<!-- NAV STARTS HERE -->
<div id="nav">
<ul id="navigation">
<ul id="navigation">
<li><a href="/"><img src="../images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href="../messages/"><img src="../images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href="../settings/"><img src="../images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="../FAQ/">FAQ</a></li>
</ul>
</div>
<!-- NAV ENDS HERE -->


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>