<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <div class="jumbotron">
      <a href="/"><img src="../images/home.png" alt="Message image" class="img"></a>
      <h1>MentorApp</h1>
      <p>Find a Mentor &middot; Find a Mentee </p>
    </div>

   <div class="container">
    <center><h4>MESSAGES:</h4></center>

  <!-- SEND MESSAGE OPTION - LAB 5 FOR REFERENCE
  <form id="addFriendForm" role="form" method="get" action="/add">
    <h3>Send a Message</h3>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Message:</label>
        <input type="text" class="form-control" id="description" placeholder="Message" name="description">
      </div>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Send Message"></input>
  </form> -->

<hr>

<div class="container">
    <a href="viewmessages/">
          <img src="../images/head.jpg" class="img">
        <h1>John Doe</h1>
        <p>Message Number One Preview Here</p>
      </a>
</div>

<hr>

<div class="container">
    <a href="viewmessages/">
          <img src="../images/head.jpg" class="img">
        <h1>Jane Doe</h1>
        <p>Message Number Two Preview Here</p>
      </a>
</div>

<hr>

<div class="container">
  <a href="viewmessages/">
          <img src="../images/head.jpg" class="img">
        <h1>Kaila Lee</h1>
        <p>Message Number Three Preview Here</p>
      </a> 
</div>

<hr>
</div>

<!-- NAV STARTS HERE -->
<div id="nav">
<ul id="navigation">
<ul id="navigation">
<li><a href="/"><img src="../images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href=""><img src="../images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href="../settings/"><img src="../images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="../FAQ/">FAQ</a></li>
</ul>
</div>
<!-- NAV ENDS HERE -->


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
