/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
     margin: 0;
     padding: 0;
}

.div {
    overflow: scroll;
}

/*.container {
    margin-bottom: 70px;
    overflow: scroll;
}*/

.mymessage {
     left:0;
     color: #a5bcd9 ;
     position: right;
}

.profilepic {
     height: 50px;
     width: 50px;
     left: 0; 
     top: 0;
}
.description {
     left: 250; 
     top: 0;
}

/*Dropdown for mentor/mentee*/
.dropdown {
    color: #A9A9A9;
}

.jumbotron {
/*     background-image: url(../images/jumbologo.jpg);*/
	background-color: #a5bcd9;
     position: relative;
     padding: 10px;
     margin-bottom: 0px;
}

/*.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}*/






.center-block{
  padding: 10px;
}

.content a{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #DCDCDC;
  color: rgb(136, 172, 217);
}

.card a{
      background-color: #DCDCDC;
      border: none;
}

.card p{
    color: #000000;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}






















.jumbotron img{
     content:url(../images/logo.jpg);
     position: absolute;
     left: 0px;
     height: 100px;
     width: 100px;
     padding: 10px;
}

.jumbotron h1 {
     margin-left: 100px;
}

.jumbotron p {
     color: #000000;
     margin-left: 100px;
     font-size: 16px;
}

.project a {
     text-align: left;
}

#messageName {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

#messageM {
  color: black;
  font-size: 12px;
}

#myMessage {
  text-align: right;
}

.dropdown-toggle {
  opacity: 0.5;
  width: 325px;
  margin-right: 50px;
  font-size: 12px;
  font-family: Arial;
}

.dropdown-menu {
  width: 325px;
  margin-right: 50px;
  font-size: 20;
  padding-top: 15px;
  padding-left: 15px;
  padding right: 15px;
  padding-bottom: 15px;

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}


#nav
 {
 background-color: #a5bcd9;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
}

.title
 {
 color:#EDEDED;
 font-family:verdana;
 font-size:25px;
 width:350px;
 margin-top:6px;
 margin-left:0px;
 font-weight:bold;
 float:left;
}
.subtitle 
{
 color:#EDEDED;
 font-family:verdana;
 font-size:15px;
 width:350px;
 margin-top:6px;
 margin-left:50px;
 font-weight:bold;
 float:left;
}

.mailimg {
     position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
.homeimg {
     position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
.settingsimg {
          position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
#navigation
{
 list-style-type:none;
}
li 
{
 display:inline;
 padding:0px;
}
#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#000000;
} 
#nav a:hover 
{
 color:#BDBDBD;
}

#body 
{
 width:850px;
 margin:0px auto;
 margin-top:80px;
 font-family:verdana;
}

body 
{
 margin:0px;
}





/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    margin-bottom:0;
    overflow: scroll;
}

/* The "Forgot password" text */
span.psw {
    float: left;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


