/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
     margin: 0;
     padding: 0;
}

.jumbotron {
     background-image: url(../images/jumbologo.jpg);
	position: relative;

}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron img{
     position: absolute;
     right: 0px;
     height: 100px;
     width: 100px;
     padding: 10px;
}

.img2{
     position: absolute;
     left: 0px;
     height: 100px;
     width: 100px;
     padding: 10px;
}

.jumbotron h1 {
     text-align: center;
}

.jumbotron p {
     color: #000000;
     text-align: center;
}

.project a {
     text-align: center;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}


#nav
 {
 background-color:#D3D3D3;
 width:100%;
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:fixed;
 bottom:0px;
}

.title
 {
 color:#EDEDED;
 font-family:verdana;
 font-size:25px;
 width:350px;
 margin-top:6px;
 margin-left:0px;
 font-weight:bold;
 float:left;
}
.subtitle 
{
 color:#EDEDED;
 font-family:verdana;
 font-size:15px;
 width:350px;
 margin-top:6px;
 margin-left:50px;
 font-weight:bold;
 float:left;
}
.logo
{
     position: absolute;
     left: 0px;
     height: 100px;
     width: 100px;
     padding: 10px;
}
.mailimg {
     position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
.homeimg {
     position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
.settingsimg {
          position: left;
     left: 500px;
     height: 50px;
     width: 50px;
     padding: 10px; 
}
#navigation
{
 list-style-type:none; 
}
li 
{
 display:inline;
 padding:10px;
}
#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#000000;
} 
#nav a:hover 
{
 color:#BDBDBD;
}

#body 
{
 width:850px;
 margin:0px auto;
 margin-top:80px;
 font-family:verdana;
}

body 
{
 margin:0px;
}
